
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th>Nausea</th>
      <th>Happiness</th>
      <th>Tickets</th>
</tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td><%= user.nausea %></td>
        <td><%= user.happiness %></td>
        <td><%= user.tickets %></td>
        </tr>
 <%end%>